* {
    margin: 0;
    padding: 0;
}

header div.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

header {
    background-color: #EAC926;
}


header form {
    padding: 10px;
    font-size: 11px;
    outline: none;
    border: none;
}

 header div.searchBar form {
    display: flex;
    padding: 2%;
    justify-content: end;
    align-items: start;
 }



/* header div.button {
    display: flex;
    justify-content: center;
    margin-right: 20px;
} */

header nav div.UI {
    display: none;
}

header div.burguer-menu {
    display: flex;
    justify-content: center;
    background-color: rgb(69, 69, 249);
    font-size: large;
    margin-top: 2%;
    margin-left: 45%;
    margin-right: 45%;
    border-radius: 10%;
    padding: 3%;
}